<div class="profile-card">
  <h2 class="subtitle">Osobni podaci</h2>
  <div class="profile-body">
    <div *ngFor="let field of fields()" class="field">
      <i class="material-icons">{{ field.icon }}</i>
      <div class="field-content">
        <ng-container *ngIf="!isEditing(); else editMode">
          <span>{{ field.value() }}</span>
        </ng-container>
        <ng-template #editMode>
          <input [type]="field.type" [value]="field.value()" (input)="updateField(field, $event)" [placeholder]="field.placeholder">
        </ng-template>
      </div>
    </div>

    <div class="field">
      <i class="material-icons">Links</i>
      <div class="field-content">
        <div class="links-container">
          <ng-container *ngIf="!isEditing(); else editLinks">
            <div *ngFor="let link of socialLinks()" class="social-link">
              <a [href]="link.url" target="_blank" class="icon-link">
                <img [src]="getIconPath(link.platform)" [alt]="link.platform" class="link-icon">
              </a>
              <span class="link-url">{{ link.url }}</span>
            </div>
          </ng-container>
          <ng-template #editLinks>
            <div *ngFor="let link of socialLinks(); let i = index" class="link-edit">
              <img [src]="getIconPath(link.platform)" [alt]="link.platform" class="link-icon">
              <input [(ngModel)]="link.platform" placeholder="Platforma">
              <input [(ngModel)]="link.url" placeholder="URL">
              <button (click)="removeSocialLink(i)">Remove</button>
            </div>
            <div class="link-add">
              <input [(ngModel)]="newSocialLink.platform" placeholder="Nova platforma">
              <input [(ngModel)]="newSocialLink.url" placeholder="Novi URL">
              <button (click)="addSocialLink()">Dodaj</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="isAuthor()" (click)="toggleEdit()" class="edit-button">
    {{ isEditing() ? 'Spremi' : 'Uredi' }}
  </button>
</div>
