<div class="word-preview">
  <div class="word-content">
    <app-profile-header
      [slika]="slika"
      [imePrezime]="imePrezime"
      [titula]="titula"
      [isAuthor]="false"
      [isGeneratingWord]="true">
    </app-profile-header>
    <app-osobni-podaci [isGeneratingWord]="true"></app-osobni-podaci>
    <app-iskustvo [isGeneratingWord]="true"></app-iskustvo>
    <app-obrazovanje [isGeneratingWord]="true"></app-obrazovanje>
    <app-tehnoloski-stack [isGeneratingPDF]="true"></app-tehnoloski-stack>
  </div>
  <button (click)="generateWord()" class="generate-word-button">
    <i class="fa fa-file-word-o"></i> Generate and Download Word
  </button>
</div>
