<app-profile-header
  [slika]="slika()"
  [imePrezime]="imePrezime()"
  [titula]="titula()"
  [isAuthor]="isAuthor()"
  (slikaChange)="updateSlika($event)">
</app-profile-header>

<nav>
  <ul>
    <li><a (click)="setActiveTab('osobni-podaci')">Osobni Podaci</a></li>
    <li><a (click)="setActiveTab('ciljevi-motivacija')">Ciljevi i Motivacija</a></li>
    <li><a (click)="setActiveTab('iskustvo')">Iskustvo</a></li>
    <li><a (click)="setActiveTab('obrazovanje')">Obrazovanje</a></li>
    <li><a (click)="setActiveTab('tehnoloski-stack')">Tehnološki Stack</a></li>
    <li><a (click)="setActiveTab('vjestine-jezici')">Vještine i Jezici</a></li>
  </ul>
</nav>

<div [ngSwitch]="activeTab()">
  <app-osobni-podaci *ngSwitchCase="'osobni-podaci'"
    (imePrezimeChange)="updateImePrezime($event)"
    (titulaChange)="updateTitula($event)">
  </app-osobni-podaci>
  <app-ciljevi-motivacija *ngSwitchCase="'ciljevi-motivacija'"></app-ciljevi-motivacija>
  <app-iskustvo *ngSwitchCase="'iskustvo'"></app-iskustvo>
  <app-obrazovanje *ngSwitchCase="'obrazovanje'"></app-obrazovanje>
  <app-tehnoloski-stack *ngSwitchCase="'tehnoloski-stack'"></app-tehnoloski-stack>
  <app-vjestine-jezici *ngSwitchCase="'vjestine-jezici'"></app-vjestine-jezici>
</div>
