<div class="app-wrapper">
  <ng-container *ngIf="!isGeneratingPDF()">
    <app-profile-header
      [slika]="slika()"
      [imePrezime]="imePrezime"
      [titula]="titula"
      [isAuthor]="isAuthor()"
      [isGeneratingPDF]="isGeneratingPDF()"
      (slikaChange)="updateSlika($event)">
    </app-profile-header>

    <nav class="horizontal-nav">
      <ul>
        <li><a (click)="setActiveTab('osobni-podaci')" [class.active]="activeTab() === 'osobni-podaci'">Info</a></li>
        <li><a (click)="setActiveTab('iskustvo')" [class.active]="activeTab() === 'iskustvo'">Iskustvo</a></li>
        <li><a (click)="setActiveTab('obrazovanje')" [class.active]="activeTab() === 'obrazovanje'">Obrazovanje</a></li>
        <li><a (click)="setActiveTab('tehnoloski-stack')" [class.active]="activeTab() === 'tehnoloski-stack'">Kompetencije</a></li>
        <li><a (click)="setActiveTab('ciljevi-motivacija')" [class.active]="activeTab() === 'ciljevi-motivacija'">Motivacija</a></li>
      </ul>
    </nav>
    
    <div class="content-container">
      <ng-container [ngSwitch]="activeTab()">
        <app-osobni-podaci 
          *ngSwitchCase="'osobni-podaci'"
          [isGeneratingPDF]="isGeneratingPDF()"
          (imePrezimeChange)="updateImePrezime($event)"
          (titulaChange)="updateTitula($event)">
        </app-osobni-podaci>
        <app-iskustvo 
          *ngSwitchCase="'iskustvo'"
          [isGeneratingPDF]="isGeneratingPDF()">
        </app-iskustvo>
        <app-obrazovanje 
          *ngSwitchCase="'obrazovanje'"
          [isGeneratingPDF]="isGeneratingPDF()">
        </app-obrazovanje>
        <app-tehnoloski-stack 
          *ngSwitchCase="'tehnoloski-stack'"
          [isGeneratingPDF]="isGeneratingPDF()">
        </app-tehnoloski-stack>
        <app-ciljevi-motivacija 
          *ngSwitchCase="'ciljevi-motivacija'"
          [isGeneratingPDF]="isGeneratingPDF()">
        </app-ciljevi-motivacija>
      </ng-container>
    </div>

    <button (click)="generatePDF()">Generiraj PDF</button>
  </ng-container>

  <app-pdf-view
    *ngIf="isGeneratingPDF()"
    [slika]="slika()"
    [imePrezime]="imePrezime()"
    [titula]="titula()">
  </app-pdf-view>
</div>
