.app-wrapper {
  max-width: 800px; /* ili koja god širina odgovara vašem header-u */
  margin: 0 auto;
  padding: 0 20px;
}

.content-container {
  margin-top: 20px;
}
.horizontal-nav {
    background-color: #f8f9fa;
    padding: 10px 0;
    margin-bottom: 5px;
  }
  
  .horizontal-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .horizontal-nav li {
    margin: 0 10px;
  }
  
  .horizontal-nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .horizontal-nav a:hover, .horizontal-nav a.active {
    background-color: #007bff;
    color: white;
  }
  
  .content-container {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  