<div class="pdf-container">
  <div class="pdf-content">
    <div class="pdf-page">
      <app-profile-header
        [slika]="slika"
        [imePrezime]="_imePrezime"
        [titula]="_titula"
        [isAuthor]="false"
        [isGeneratingPDF]="true">
      </app-profile-header>
      <app-osobni-podaci [isGeneratingPDF]="true"></app-osobni-podaci>
    </div>
    <div class="pdf-page">
      <app-iskustvo [isGeneratingPDF]="true"></app-iskustvo>
    </div>
    <div class="pdf-page">
      <app-obrazovanje [isGeneratingPDF]="true"></app-obrazovanje>
      <app-tehnoloski-stack [isGeneratingPDF]="true"></app-tehnoloski-stack>
    </div>
    <div class="pdf-page">
      <app-ciljevi-motivacija [isGeneratingPDF]="true"></app-ciljevi-motivacija>
    </div>
  </div>
</div>
