<div class="pdf-container">
    <app-profile-header
    [slika]="slika"
    [imePrezime]="_imePrezime"
    [titula]="_titula"
    [isAuthor]="false"
    [isGeneratingPDF]="true">
    </app-profile-header>
  
    <app-osobni-podaci [isGeneratingPDF]="true"></app-osobni-podaci>
    
    <app-ciljevi-motivacija [isGeneratingPDF]="true"></app-ciljevi-motivacija>
    
    <app-iskustvo [isGeneratingPDF]="true"></app-iskustvo>
    
    <app-obrazovanje [isGeneratingPDF]="true"></app-obrazovanje>
    
    <app-tehnoloski-stack [isGeneratingPDF]="true"></app-tehnoloski-stack>
  </div>