<div class="education-container" [class.pdf-mode]="isGeneratingPDF">
  <h2 class="subtitle">Obrazovanje</h2>
  
  <div class="education-list">
    <div *ngFor="let education of sortedEducations()" class="education-item">
      <div class="education-header">
        <span class="year">{{ formatYearToHrv(education.year) }}</span>
        <div class="education-controls" *ngIf="!isGeneratingPDF">
          <button (click)="startEditing(education)" class="icon-button edit-button">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="removeEducation(education.id)" class="icon-button delete-button">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
      <div class="institution-info">
        <div *ngIf="education.institutionIcon" class="institution-icon">
          <img [src]="education.institutionIcon" alt="{{ education.institution }} icon">
        </div>
        <div class="institution-details">
          <div class="title">{{ education.title }}</div>
          <div class="institution">{{ education.institution }}</div>
          <div class="location">{{ education.location }}</div>
        </div>
      </div>
      <div *ngIf="education.description" class="description">{{ education.description }}</div>
      <ul class="bullet-points">
        <li *ngFor="let point of education.bulletPoints">{{ point }}</li>
      </ul>
      <div class="upload-icon" *ngIf="!isGeneratingPDF">
        <label [for]="'icon-upload-' + education.id" class="upload-button">
          <i class="fas fa-upload"></i> Dodaj logo
        </label>
        <input [id]="'icon-upload-' + education.id" type="file" (change)="onFileSelected($event, education)" accept="image/*">
      </div>
    </div>
  </div>

  <div *ngIf="editingEducation && !isGeneratingPDF" class="edit-education">
    <input [(ngModel)]="editingEducation.year" placeholder="Godina (GGGG)" class="education-input">
    <input [(ngModel)]="editingEducation.title" placeholder="Titula" class="education-input">
    <input [(ngModel)]="editingEducation.institution" placeholder="Institucija" class="education-input">
    <input [(ngModel)]="editingEducation.location" placeholder="Lokacija" class="education-input">
    <textarea [(ngModel)]="editingEducation.description" placeholder="Opis" class="education-input"></textarea>
    <div class="add-bullet-point">
      <input [(ngModel)]="newBulletPoint" placeholder="Dodaj stavku" class="education-input">
      <button (click)="addBulletPoint()" class="action-button">Dodaj</button>
    </div>
    <ul class="new-bullet-points">
      <li *ngFor="let point of editingEducation.bulletPoints; let i = index">
        {{ point }}
        <button class="remove-btn" (click)="removeBulletPoint(i)">×</button>
      </li>
    </ul>
    <div class="edit-controls">
      <button (click)="saveEdit()" class="action-button">Spremi</button>
      <button (click)="cancelEdit()" class="action-button">Odustani</button>
    </div>
  </div>

  <div class="add-education" *ngIf="!isGeneratingPDF">
    <h3>Dodaj novo obrazovanje</h3>
    <input [(ngModel)]="newEducation.year" placeholder="Godina (GGGG)" class="education-input">
    <input [(ngModel)]="newEducation.title" placeholder="Titula" class="education-input">
    <input [(ngModel)]="newEducation.institution" placeholder="Institucija" class="education-input">
    <input [(ngModel)]="newEducation.location" placeholder="Lokacija" class="education-input">
    <textarea [(ngModel)]="newEducation.description" placeholder="Opis" class="education-input"></textarea>
    <div class="add-bullet-point">
      <input [(ngModel)]="newBulletPoint" placeholder="Dodaj stavku" class="education-input">
      <button (click)="addBulletPoint()" class="action-button">Dodaj</button>
    </div>
    <ul class="new-bullet-points">
      <li *ngFor="let point of newEducation.bulletPoints; let i = index">
        {{ point }}
        <button class="remove-btn" (click)="removeBulletPoint(i)">×</button>
      </li>
    </ul>
    <button (click)="addEducation()" class="action-button">Dodaj obrazovanje</button>
  </div>
</div>
